.md-footer__inner{display:flex;justify-content:space-between;align-items:center}
.md-footer__center{margin:0 auto;display:flex;gap:.75rem;font-size:.82rem;text-align:center}
.toc-link{text-decoration:none}
